@{
    ViewData["Title"] = "Home Page";
}

<div class="about__container">
    <div class="about__info d-flex justify-content-center align-items-center flex-column g-4">
        <div class="about__title">Вітаємо вас з підключенням функції надсилання персональної пропозиції на вашу пошту!!<br>Щоб перейти на головну сторінку натисніть кнопку, яка є нижче</div>
        <div class="mt-4"><a class="btn btn-primary bg-black" asp-controller="Home" asp-action="Index">Перейти</a></div>
    </div>
</div>

